@{
    ViewData["Title"] = "FOS Virtual env hub";
}

<div class="text-center">
    <h1 class="display-4">Explore virtual hub's</h1>
    <p>Fun with games , learn with tutorials or gain produtive with automative tools</p>
</div>