@{
    ViewData["Title"] = "FOS Virtual env hub";
}

<div class="text-center">
    <h1 class="display-4">Seja bem vindo aa Hub de ambientes virtuais.</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div id="appLavine"></div>
